---
- name: Deploy da API de Laboratório com Nginx e DB
  hosts: servers
  vars:
    app_path: "/home/sre/app-lab"

  tasks:
    - name: Parar e remover containers antigos
      shell: "cd {{ app_path }} && docker compose down --remove-orphans || true"

    - name: Limpar pasta para deploy limpo
      file:
        path: "{{ app_path }}"
        state: absent

    - name: Criar diretório da aplicação
      file:
        path: "{{ app_path }}"
        state: directory
        owner: sre
        group: sre

    - name: Copiar arquivos do projeto
      copy:
        src: "../{{ item }}"
        dest: "{{ app_path }}/"
      loop:
        - app
        - docker
        - nginx
        - docker-compose.yml

    - name: Subir a aplicação via Docker Compose
      community.docker.docker_compose_v2:
        project_src: "{{ app_path }}"
        state: present
        build: always